.containerUI {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.headerUI {
  grid-column: span 12; 
  border-bottom: 1px solid var(--divider);
}

.navigation-menuUI {
  grid-column: span 2;
  border-right: 1px solid var(--divider);
  min-height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  overflow: auto;
  overflow-x: hidden;
}

.main-contentUI {
  grid-column: span 10;
}

.footerUI {
  grid-column: span 12; 
  background: var(-bg);
  border-top: 1px solid var(--divider);
}

.item {
  transition: all 0.10s;
  transition-timing-function: ease-out;
  height: 1.5rem;
}

.ui-collapse {
  height: 0px !important;
  overflow: hidden !important;
  border: none !important;
}

.ui-disable {
  opacity: .5;
}

.checkbox{
   width: 1.5rem;
   height: 1.5rem;
   background: transparent url(../img/square-regular.svg) no-repeat;
   margin-left: 1rem;
}

.checklabel {
  padding-left: 30px;
}

.checked{
   background: transparent url(../img/check-square-regular.svg) no-repeat;
}

.search-container {
  border: 1.5px solid;
  border-radius: 5px;
  height: 1.6rem;
  margin: 0px 5px 2px 15px;
  overflow: hidden;
}

.search-cancel {
  height: 1.4rem;
  width: 1.4rem;
  background-image: url("../img/times-circle-regular.svg");
  float: right;
}

.search {
  color: inherit;
  mw-border: 1.5px solid inherit;
  border: none;
  background: transparent;
  width: 7rem;
  height: 1rem;
  margin-left: 5px;
}

.search:focus{
  outline: none;
}

::placeholder { 
  color: var(--fg);
  opacity: 1; /* Firefox */
}

input:focus::placeholder { 
  mw-color:transparent; 
  opacity: .2;
}

/* JQuery UI */

ul.ui-autocomplete {
  list-style: none;
  list-style-type: none;
  padding: 2px;
  margin: 5px;
  width: auto;
  position: absolute !important; // handles width problem
}

#slider-container {
  margin: 15px;
  padding-top: 20px;
}

/* hides autocomplete status information */
/*
.ui-helper-hidden-accessible { 
  display: none !important;
}
*/
.ui-slider-horizontal {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  border-radius: 25px;
}

.ui-slider-vertical {
	width: 1rem;
	height: 190px;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
}

.ui-slider-range {
	border-top: 2px solid var(--fg) !important;
	border-bottom: 2px solid var(--fg) !important;
	width: 2rem !important;
	transform: translateX(-.55rem);
  background: transparent;
  border-radius: 0%;
	opacity: 0.4;
}

.range-vfilter {
	color: var(--fg);
  transform: rotate(-90deg) translateX(-10rem);
	opacity: 0.4;
}

.ui-slider-handle {
  border: 3px solid !important;
  border-color: inherit !important;
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 50%;
  background: var(--bg) !important;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.15rem;
}
	
#filter-container .ui-slider-handle {
	opacity: 0;
	transform: translate(.3rem, -.1rem);
}

#filter-container .ui-slider-handle:hover {
	opacity:1;
} 

	
