.hidden {
	opacity: 0;
	z-index: -5;
}

.section {
	padding: 90px 0px 90px 0px;
}

#sec-title {
	height: 100vh;
	display: flex;
	align-items: center;
	text-align:	center;
	justify-content: center;
}

#sec-sdg {
	padding: 0px 0px 90px 0px;
}

#vis-intro {
	border-width: 0px;
	transform-origin: top left;
}

/* ADDONS */
.vis {
	border-width: 0px;
	transform-origin: top left;
	display: block;
	wwidth: 100%;
	hheight: 100%;
}

/*  VIOLENCE MAP */

#sec-violent-entrepreneurs .vis-container {
	display: flex;
	flex-direction: column;
}

#violence-date {
	font-family: Open Sans;
	font-size: 3rem; 
	transform: translateY(5rem);
	z-index: 2;
}

.hoverinfo {
	font-family: Open Sans;
	color: white;
	background-color: black !important;
	border-radius: 5px !important;
	border: 0px !important;
	opacity: .9;
}

#violence-date, #violence-map, #violence-controls {
	margin: auto;
}

/*
.active { fill: blue !important;}
*/

#violence-map {
	border: 0px !important;
	padding-bottom: 0px !important;
	ooverflow: hidden;
	width: 85vw !important;
}

/* INDIV & SDG INDICATORS */

canvas#indicators {
	mwz-index: -1;
}

canvas#indicators + #overlay {
	display: none;
	position: absolute;
	background: #333;
	opacity: .95;
	border-radius: 5px;
	color: white;
  font-size: 3rem;
  
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

canvas#indicators + #overlay #copy {
  padding: 12%;
}

/* SDG CHANGES */
#sdg-results-container .sdg-item{
	width: 85vw;
	border-radius: 3rem;
	mw-border: 2px solid black;
	padding: .5rem;
	margin: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-family: Open Sans;
}	

#sdg-results-container .result-txt {
	padding-top:	3rem;
	text-align: center;
}

#sdg-results-container #copy{
	margin-right: auto;
	padding-right: 2px;
	padding-left: 3rem;
	color: white;
	font-weight: bold;
	font-size: 2.3rem;
}

#sdg-results-container #sdg-results-deeper {
  display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.sdg-match-number {
	padding: .9rem;
	border-radius: 1rem;
	color: white;
	margin-left: 3px;
	font-weight: bold;
  width: 10vh;
  display: flex;
  align-items: center;
}

#sdg-results-container #bad{
	bbackground-color: #d7191c;
}

#sdg-results-container #med-bad{
	bbackground-color: #fdae61;
	margin-right: 1rem;
}

#sdg-results-container #med-good{
	bbackground-color: #a6d96a;
}	
			
#sdg-results-container #good{
	bbackground-color: #1a9641;
}

.slide-container {
	text-align:	center;
	display: flex;
  padding: 20px 0px 10px 0px;
}


#sdg-results-container #selected{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-container #output{
	padding-top: 1rem;
	font-family: Open Sans;
  font-weight: bold;
  transform: translateX(2px);
}

.slide-container #sdg-search{
	width: 3rem;
	height: 3rem;
	padding-left: 20px;
	transform: translateY(-1rem);
}

@keyframes imgBreathe {
  0% {
		filter: invert(1);
	}
	50% {
		filter: invert(.2);
	}
	100% {
		filter: invert(1);
	}
}

#sdg-results-container .result-icons {
	width: 3rem;
	height: 3rem;
	padding: 2px;
	margin-right: 5px;
	filter: invert(1);
	opacity: .85;
}

#sdg-results-container #good .result-icons, #sdg-results-container #bad .result-icons{
    border: 2px solid black;
    border-radius: 30px
}

.img-invert-breathe {
	animation-name: imgBreathe;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 2;
	animation-duration: 1.5s;
}

.slide-container #sdg-search #spinner{
	width: 6rem;
	height: 6rem;
	display: none;
  transform: translate(-1.5rem, -1.5rem);
}

#change-container #change, #window-container #window, #year-container #year {
	width:20vw;
	margin: 0 2vw 0 2vw;
}

.slide-container #low{
	float:	left;
}

.slide-container #high{
	float:	right;
}

.ui-widget.ui-widget-content {
	border: 0px !important;
	background: black;
}

.ui-slider-horizontal {
	height: 2px !important;
}

.ui-slider-handle {
	border: 2px solid black !important;
	background: #fff !important;
	border-radius: 100% !important;
	height: .9rem !important;
	width: .9rem !important;
}

.ui-slider-handle:hover {
	background: #000 !important;
}

:focus {
	outline: none !important;
}

/* SECTIONS */

#sec-indicators-by-country #indicators{
/*
	max-height: 48vh;
	max-width: 60%;
*/
}

#sec-sdg-funding #indicators{
	max-height: 30vh;
	max-width: 90%;
}

#sec-indicators-by-country {
	padding-bottom: 2rem;
}

#sec-indicators-by-country .vis-container {
	padding-top: 2rem;
}

#sec-indicators-by-country .vis-container, #sec-sdg-funding .vis-container {
    display: flex;
    justify-content: center;
}

/* VIOLENT */
#sec-violent-entrepreneurs .vis-container {
	ttext-align: center;
}

#sec-violent-entrepreneurs .datamap {
	width: 85vw !important;
	background-color: #bbb;
}

/* SDGs */
#sec-sdg .vis-container {
  background-color: #eed;
}

#sdg-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  justify-items: center;
	grid-area: 1/1;
	width: fit-content;
	margin: auto;
	border: 5px solid transparent;
}

.sdg-img img{
	height: 15vh;
}

#sdg-txt-container {
  z-index: 2;
  width: 100%; 
  grid-area: 1/1/4/7;
}

#sdg-txt {
	color: white;
	font-size: 2rem;
	margin: 10px;
}

#sdg-txt-target {
	width: 40vw;
	margin: auto
}

#sdg-back, #sdg-frwd {
	height: 3rem;
	padding: 0px 0px 0px 5px;
	filter: invert(90%);
}


/* STAR */
.grid-title {
	text-align: center;
}

#grid-outer h5 {
	text-align: center;
}

#grid-outer .grid-vis {
	height: 60vh;
}

#grid-inner .grid-vis {
	height: 30vh;
}

#grid-inner .grid-item  {
	transition:opacity .2s linear;
}

#sec-fragility #grid-outer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
}

#sec-fragility #grid-outer #vis-big {
  display: inline-grid;
}

#sec-fragility #grid-inner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

#fsi-star-year-bg {
	grid-area: 1/1/5/6;
	justify-self: center;
	align-self: center;
	opacity: .07;
	font-size: 40vh;
}

#fsi-star-individual-bg {
	grid-area: 1/1/5/6;
	justify-self: center;
	align-self: center;
	transition:opacity .2s linear;
}

/* TEXT COPY */
.vis-text {
	margin: 20px 0px 20px 0px;
	column-count: 2;
  column-gap: 40px;
	column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: lightblue;
}

.vis-text p:first-child:first-letter {
    float: left;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

/* CONTROLS */
.ui-controls {
	height: 2em;
	padding: 0px 1em 0px 1em;
}

/*
.containerUI, #filter-UI {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.headerUI, #filter-header-UI {
  grid-column: span 12; 
  border-bottom: 1px solid var(--divider);
}

#filter-header-UI {
  border-top: 1px solid var(--divider);
}

#filter-UI {
	position: relative;
	bbottom: -49%;
	bbottom: 0%;
}

.filter-widgets-UI {
	grid-column: span 1;
}

.filter-widgets-UI.lighterbg {
	background: var(-lbg);
}


.navigation-menuUI {
  grid-column: span 2;
  border-right: 1px solid var(--divider);
  min-height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  overflow: auto;
  overflow-x: hidden;
}

.main-contentUI {
  grid-column: span 10;
  height: 80vh;
  overflow: hidden;
}

#vis-UI {
  hheight: 65%;
}

.footerUI {
  grid-column: span 12; 
  background: var(-bg);
  border-top: 1px solid var(--divider);
}

.item {
  transition: all 0.10s;
  transition-timing-function: ease-out;
  height: 1.5rem;
}

.ui-collapse {
  height: 0px !important;
  overflow: hidden !important;
  border: none !important;
}

.ui-disable {
  opacity: .5;
}

.checkbox{
   width: 1.5rem;
   height: 1.5rem;
   background: transparent url(../img/square-regular.svg) no-repeat;
   margin-left: 1rem;
}

.checklabel {
  padding-left: 2rem;
}

.checked{
   background: transparent url(../img/check-square-regular.svg) no-repeat;
}

.search-container {
  border: 1.5px solid;
  border-radius: 5px;
  height: 2.5rem;
  margin: 0px 5px 2px 5px;
  overflow: hidden;
}

.search-cancel {
  height: 2rem;
  width: 2rem;
  background-image: url("../img/times-circle-regular.svg");
  float: right;
  margin: 1px;
}

.search {
  color: inherit;
  mw-border: 1.5px solid inherit;
  border: none;
  background: transparent;
  width: 7rem;
  height: 1rem;
  margin-left: 5px;
}

.search:focus{
  outline: none;
}

::placeholder { 
  color: var(--fg);
  opacity: 1; /* Firefox */
}

input:focus::placeholder { 
  mw-color:transparent; 
  opacity: .2;
}

/* JQuery UI */

ul.ui-autocomplete {
  list-style: none;
  list-style-type: none;
  padding: 2px;
  margin: 5px;
  width: auto;
  position: absolute !important; // handles width problem
}

/* text search dropdown menu */
#ui-id-1 {
  display: none !important; 
}

#slider-container {
  margin: 15px;
  padding-top: 20px;
}

/* hides autocomplete status information */
/*
.ui-helper-hidden-accessible { 
  display: none !important;
}
*/

.ui-slider-horizontal {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  border-radius: 25px;
}

.ui-slider-vertical {
	width: 1rem;
	height: 18rem;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
}

.ui-slider-range {
	border-top: 2px solid var(--fg) !important;
	bborder-bottom: 2px solid var(--fg) !important;
	width: 2rem !important;
	transform: translateX(-.55rem);
  background: transparent;
  border-radius: 0%;
	opacity: 0.4;
}

.range-vfilter {
	color: var(--fg);
  /* transform: rotate(-90deg) translateX(-10rem); */
	opacity: 0.4;
	overflow: hidden;
	width: 3rem;
}



.filter-widgets-UI .ui-slider-vertical {
	transform:	translateX(1rem);
} 

.filter-widgets-UI:nth-child(even), .ui-darken {
	filter: brightness(60%);
} 

.filter-widgets-UI .ui-slider-handle {
  border: 3px solid !important;
  border-color: inherit !important;
  height: 2rem !important;
  width: 2rem !important;
  border-radius: 50%;
  background: var(--bg) !important;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.15rem;
}
	
.filter-widgets-UI .ui-slider-handle {
	opacity: 0;
	/* transform: translate(.3rem, -.1rem); */
}

.filter-widgets-UI .ui-slider-handle:hover {
	opacity:1;
} 

.output-UI {
	mmax-width: 100%;
	
	border-width: 0px;
	transform-origin: top left;
}
#iframe-UI{
	wwidth: 400px;
	height: 50vh;
	pposition: relative;
}
	
.output-UI{
	width: 49%;
	height: 50vh;
}
*/
